#css-zen-garden
{
    background:#daede2;
    position: relative;
    z-index: 1;
min-width: 852px;
}
.page-wrapper
{

    background: #77c4d3;
    width:89.9%;/*1505px*/
    margin:0 auto;
    margin-top: 4.9%;
    margin-bottom: 4.9%;
}
.extra1
{
    position: fixed;
    left:69.5%;
    top:-1000px;
    width:2000px;
    height:42888em;
    background:rgba(51, 55, 69, 0.9);
    z-index: 3;
    clear: both;
}
.intro
{
    position: relative;
    left:4.96%;
    width:64.89%;
}
header
{
    height:67.4%;
}
h1
{
    display: inline-block;
    font-size:2.63em;
    color: #ffffff;
    background:#ea2e49;
    padding-width: 0.8em 1em 0.8em 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-transform: uppercase;
}
h2
{
    display: inline-block;
    font-size: 6em;
    color: #ffffff;
    padding-width: 3.4em 3.8em;
}
.page-wrapper
{

}

#zen-summary
{
    height:11.9em;
    overflow: hidden;/*把最外面的边框隐藏*/
}
#zen-summary p
{
    text-transform: uppercase;
    box-sizing: border-box;
    padding-bottom: 2.15em;
    padding-top: 2.15em;
    padding-right: 5%;
    border-bottom:solid 1px #ea2e49;
    margin:0;
    height:6em;
}
#zen-supporting
{
    position: relative;
    left:4.96%;
    width:64.89%;
}
#zen-preamble
{
    position: relative;
    background:#fbfdfc;
    width:84.35%;
    opacity:0.9;
    padding-left:18%;
    z-index: 10;
    line-height: 2em;
    left:-18%;
}
#zen-preamble h3
{
    font-size: 4em;
    line-height:1em;
}
#zen-supporting
{
    position: relative;
    margin-top:13%;
    width:88.57%;
    border:1px solid #f2f9fb;
    border-left-color: #77c4d3;
    border-top-color: #77c4d3;
    border-bottom-color: #77c4d3;
    border-right-style: hidden;
}
#zen-explanation
{
    float:left;
    width:43%;
    padding-left:3%;
    padding-top:4%;
    padding-right:2%;
}
#zen-participation
{
    position:relative;
    float:right;
    width:43%;
    background-color: #df3c56;
    padding-left: 2%;
    padding-top: 6%;
    padding-right:3%;
    opacity: 0.9;
    z-index:4;
}
#zen-benefits
{
    float:left;
    position:relative;
    clear:both;
    width:25%;
    background: #f2f9fb;
    padding-left: 3%;
    padding-right: 3%;
    padding-top:4%;
    margin-top:16%;
}
#zen-requirements
{
    position: relative;
    width:63%;
    background: #f2f9fb;
    float:right;
    padding-left:3%;
    padding-right:3%;
    padding-top:6%;
    z-index: 20;
    opacity: 0.9;
}
p
{
    line-height: 2em;
}
h3
{
    font-size: 200%;
}
footer
{
    position: relative;
    clear:both;
    width:36.38%;
    height:20%;
    padding-left: 4.53%;
    padding-right: 11%;
    padding-top: 3%;
    padding-bottom:3%;
    background: #e9f198;
    margin-bottom: 5.2%;
}
.wrapper
{
    top:0px;
    right:0px;
}
.sidebar
{
    position: absolute;
    background: #e3e58b;
    width:25.1%;
   /* margin-top: -216.5%;*/
    top:3%;
    margin-left:59.5%;
    padding-left: 5.7%;
    z-index: 50;
    opacity: 0.9;
}
#design-selection
{
padding-top:5%;
}
#design-archives
{
    padding-top:5%;
}
#zen-resources
{
    padding-top:5%;
}
.sidebar a
{
    line-height: 2em;
    text-decoration: underline dashed #000000;
}